<footer class="relative overflow-hidden p-4 pt-3 rounded-[6px] w-full bg-[#050505] my-10">
  <aside class="absolute top-1 right-1 bg-[#0c0c0c] p-2 rounded-[5px]">
    <p class="m-0">legiterm.exe</p>
  </aside>
  <p class="m-0">web@<b><a href="https://github.com/xtrm-en/blog.xtrm.me">{{ it.git_commit }}</a></b> <span class="text-[#3874ec]">~/</span> $ <span class="text-[#00cd7e]">cat</span> copy.txt</p>
  <p class="m-0">Copyright © 2024 - <a href="https://xtrm.me">x</a></p>
  <p class="m-0">All rights reserved.</p>
  <p class="m-0 mt-4">web@<b><a href="https://github.com/xtrm-en/blog.xtrm.me">{{ it.git_commit }}</a></b> <span class="text-[#3874ec]">~/</span> $ <span class="text-[#00cd7e]">cat</span> contact.txt</p>
  <p class="m-0">contact page: <a href="https://xtrm.me">over here</a> :3</p>
  <p class="m-0 mt-4">web@<b><a href="https://github.com/xtrm-en/blog.xtrm.me">{{ it.git_commit }}</a></b> <span class="text-[#3874ec]">~/</span> $ <span class="text-[#00cd7e]">cat</span> credits.txt</p>
  <p class="m-0">Made with 💖, 🏳️‍🌈, &amp; <a href="https://lume.land">lume.land</a></p>
</footer>