{{ if it.git_commit === "develop" }}
{{ set _env = "dev" }}
{{ set _head = "unknown" }}
{{ set _link = "main" }}
{{ else }}
{{ set _env = "prod" }}
{{ set _head = it.git_commit }}
{{ set _link = it.git_commit }}
{{ /if }}

<footer class="text-xs mb-2 mt-10 w-full flex gap-2 flex-row">
  <div id="block1" class="flex-initial flex flex-col items-start max-w-72 flex-wrap p-2 gap-y-0 gap-px rounded-[6px] bg-[#050505]">
    {{# TODO: replace with data lol #}}
    <p class="m-0 mb-2 italic font-bold">cool corner:</p>
    <a href="https://xtrm.me/" class="h-min"><img src="/assets/img/button.png" alt="xtrm.me button"></a>
    <a href="https://hytracer.ink/" class="h-min"><img src="https://hytracer.ink/button.png" alt="hytracer.ink button"></a>
    <a href="https://checkcast.xyz/" class="h-min"><img src="https://checkcast.xyz/image/badge/me/original.gif" alt="checkcast.xyz button"></a>
    <p class="m-0 text-[.625rem]">maybe u 👉👈</p>
  </div>
  <div id="faketerm" class="text-sm flex-initial p-4 pt-3 rounded-[6px] bg-[#050505]">
    {{# TODO: replace with data lol #}}
    <p class="m-0">xtrm@<b>komet</b> <span class="text-[#3874ec]">~/</span> $ <span class="text-[#00cd7e]">cat</span> copy.txt</p>
    <p class="m-0">Copyright © 2024 - <a href="https://xtrm.me">x</a> &mdash; All rights reserved.</p>
    <p class="m-0 mt-4">xtrm@<b>komet</b> <span class="text-[#3874ec]">~/</span> $ <span class="text-[#00cd7e]">cat</span> info.txt</p>
    <p class="m-0">Made with 💖, 🏳️‍🌈, <span class="text-[#5BCEFA]">si</span><span class="text-[#F5A9B8]">ll</span><span class="text-[#fff]">y</span><span class="text-[#F5A9B8]">ne</span><span class="text-[#5BCEFA]">ss</span>, 🐈, &amp; built w/ <a href="https://lume.land">lume.land</a>.</p>
    <p class="m-0">Deployed the {{ new Date() |> date("dd/MM/yyyy") }} at {{ new Date() |> date("hh:mm:ss") }} on {{ _env }} @ <a href="https://github.com/xtrm-en/xtrm.me/tree/{{ _link }}">{{ _head }}</a></p>
  </div>
  <div id="block3" class="flex-1 p-4 pt-3 rounded-[6px] bg-[#050505]">
    <span id="noscript">
      {{ ":warning: I see you don't like javascript? hey. me neither. hate that shit :heart: *However*, stuff here that's reliant on it **will** dissapear (like search). cant say i didnt told ya now" |> md }}
    </span>
    <script id="shilling" defer>
      const ft = document.getElementById("faketerm");
      ft.classList.remove("flex-initial");
      ft.classList.add("flex-1");
      
      document.getElementById("block3").remove();
    </script> 
  </div>
</footer>