<!-- Primary Meta Tags -->
<meta name="keywords" content="xtrmdev, xtrm's blog, xtrm's site, xtrmdev site, x's site, x's blog, xtrm.me, xtrm.me blog, xtrm.me site, x.dev, xtrm.dev">
<meta name="robots" content="index, follow">