---
title: About me
description: what's up? come and learn a bit about my dumbass
comment: this is the laziest idea i've ever had and it works sooo well lmao
---

{{- "https://codeberg.org/xtrm/.profile/raw/branch/master/README.md" |> await fetch |> await text |> md }}
{{- "---\n###### this page [just copies](https://codeberg.org/xtrm/website/src/branch/main/src/pages/about.vto#L7) everything from my [codeberg profile readme](https://codeberg.org/xtrm/.profile/src/branch/master/README.md)" |> md }}
