body {
    background-color: #000;
    font-family: ui-monospace,
            'JetBrains Mono', 
             Menlo, Monaco, 
             "Cascadia Mono", "Segoe UI Mono", 
             "Roboto Mono", 
             "Oxygen Mono", 
             "Ubuntu Monospace", 
             "Source Code Pro",
             "Fira Mono", 
             "Droid Sans Mono", 
             "Courier New", monospace;
    color: #fff;
}

p, h1, h2, h3, h4, h5, h6, a {
    color: #fff;
}

.task-list-item::marker {
    content: "";
}

header nav li::marker {
    content: "./";
    color: #000;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

header nav li:hover::marker {
    color: #fff;
}