---
title: About me
desc: what's up? come and learn a bit about my dumbass
comment: this is the laziest idea i've ever had and it works sooo well lmao
---

{{ "###### this just copies everything from my [github profile readme](https://github.com/xtrm-en/xtrm-en/blob/README.md)" |> md }}
<div id="test2">
{{ "https://raw.githubusercontent.com/xtrm-en/xtrm-en/master/README.md" |> await fetch |> await text |> md }}
</div>
