<!DOCTYPE html>
<html lang={{ it.lang || "en" }}>
<head>
  {{ include './meta/seo.vto' }}
  {{ include './meta/default.vto' }}
  <title>{{ it.title || "welcome"}} &mdash; {{ it.site_title }}</title>
  {{ it.extra_head || "" }}
</head>
<body class="h-screen mx-4 flex items-center flex-col">
  <div class="w-full max-w-prose text-xs sm:text-base flex justify-center align-center items-center flex-col">
    {{ include "./sub/navbar.vto" }}
    {{ include "./comp/sep.vto" }}
    <div class="my-6 x-content w-full max-w-prose">
      <h1>{{ it.desc || "" }}</h1>
      {{ content |> safe }}
    </div>
    {{ include "./comp/sep.vto" }}
    {{ include "./sub/footer.vto" }}
  </div>
</body>
</html>